<div class = "container">
  <%= simple_form_for [@cocktail] do |f| %>
  <%= f.input :name, label: 'Name of cocktail' %>
  <%= f.submit 'Create Cocktail', class:"btn btn-primary" %>
  <%= f.input :url %>
  <%= f.input :url_cache, as: :hidden %>
  <% end %>
</div>
