<div class="container">
  <div class="row">
    <h1>Cocktail</h1>
  </div>
  <div>
    <%= image_tag @cocktail.url.url(:bright_face) %>
    <img src='<%= @cocktail.url %>' alt='image for cocktail' class="img-thumbnail rounded float-left" style="width:300px; height: 200px;">
    <%= @cocktail.name %>
    <div>
    <%= link_to 'add description', new_cocktail_dose_path(@cocktail.id) %>
    </div>
    <div>
      <% @cocktail.doses.each do |dose| %>
      <div>
        <%= dose.description %>
        <%= dose.ingredient.name %>
        <%= link_to 'Delete', dose_path(dose.id), method: :delete, data: { confirm: "are you shure?" }, class:"btn btn-danger" %>
      </div>
      <% end %>
    </div>
  </div>
  <div>
    <%= link_to 'Return', cocktails_path %>
  </div>
</div>
